### Session : 상품구매한 방문자의 세션에 관한 정보

In [1]:
sess = pd.read_csv("../../data/05_Session.csv")
sess.tail()

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM
2712902,3500464,8713975,308,20180508,71.0,423,mobile,Seoul,Seoul
2712903,3501155,4636571,86,20180714,44.0,"2,090",desktop,Seoul,Seoul
2712904,3501397,582632,128,20180920,164.0,"2,435",mobile,Seoul,Seoul
2712905,3573271,2328407,9,20180822,5.0,986,desktop,Busan,Busan
2712906,3573758,8702345,17,20180508,18.0,373,desktop,Chungcheongbuk-do,Cheongju-si

In [3]:
for i in sess.columns[2:]:
    print("column : {}, unique count : {}".format(i, sess[i].nunique()))
    print(sess[i].unique())
    print()

column : SESS_SEQ, unique count : 3639
[   9   21   40 ... 3371 3050 2771]

column : SESS_DT, unique count : 183
[20180509 20180611 20180624 20180913 20180412 20180920 20180903 20180902
 20180904 20180413 20180930 20180925 20180923 20180825 20180716 20180606
 20180905 20180927 20180511 20180603 20180521 20180727 20180731 20180609
 20180510 20180807 20180822 20180910 20180912 20180908 20180907 20180915
 20180922 20180919 20180529 20180528 20180928 20180831 20180610 20180416
 20180514 20180824 20180918 20180917 20180805 20180617 20180613 20180827
 20180424 20180422 20180530 20180604 20180812 20180620 20180826 20180828
 20180420 20180901 20180411 20180926 20180816 20180503 20180502 20180430
 20180724 20180705 20180914 20180505 20180419 20180618 20180829 20180508
 20180629 20180820 20180526 20180730 20180519 20180616 20180818 20180408
 20180916 20180405 20180710 20180507 20180715 20180814 20180924 20180628
 20180729 20180823 20180627 20180723 20180720 20180929 20180830 20180909
 20180709 20180630 20180403 20180404 20180806 20180513 20180702 20180615
 20180512 20180911 20180728 20180621 20180427 20180426 20180409 20180523
 20180626 20180612 20180815 20180718 20180803 20180921 20180602 20180622
 20180531 20180701 20180906 20180421 20180406 20180524 20180717 20180410
 20180506 20180722 20180707 20180706 20180619 20180417 20180414 20180725
 20180712 20180522 20180401 20180423 20180608 20180801 20180704 20180515
 20180501 20180520 20180607 20180605 20180714 20180407 20180817 20180425
 20180708 20180516 20180802 20180810 20180713 20180813 20180721 20180614
 20180625 20180623 20180527 20180719 20180525 20180504 20180418 20180601
 20180711 20180518 20180428 20180415 20180811 20180703 20180804 20180517
 20180726 20180819 20180809 20180402 20180429 20180808 20180821]

column : TOT_PAG_VIEW_CT, unique count : 499
[ 82. 105.  41. 160.  13.  36. 103. 154.  24. 207.   4. 159.  33.  72.
  42.  38. 104.  77.  53. 174. 188. 122.  95.  61. 128. 157. 108.  23.
  39. 194. 113.  75.  84.  26. 115. 142.   1.  37. 185.  94.  56.  74.
  97. 116. 125. 150.  45.  25. 244.  85.  68.  70.  89.  10. 120. 126.
  28.  21.  65. 285.  35.  66. 101.  15. 301. 333.  20.  80.  22.  32.
  57.  52.  11.  12.  46.  60.  14.  27.   3. 138. 131. 166.  92.  98.
 127. 162.   9.  63. 158. 267. 316. 216. 170.  47.  31.  18. 109.  91.
   7.   8.  71.  99. 107. 253. 151.  29. 221.  58. 202.  90. 192. 497.
 167. 112.  44. 276. 173. 365.  86.  54.  79.  62. 218. 169. 129. 175.
 123.   5.   2.  78.  93. 139.  87. 422.  48. 208. 181. 250. 189.  64.
 338. 183.  83.  30. 165.  81.  76. 153. 255. 124.  19. 319. 135.  49.
  55.  51.  34. 161. 260. 225. 132. 147. 177. 171. 445.  17.  40. 300.
 100.  69. 193. 432. 341. 295. 414. 106. 281. 258.  96. 130. 314. 180.
 110. 176. 272.  73. 323. 282.  50. 118.  59.  43. 330. 195.  67. 119.
 205. 361. 137. 456. 468. 148. 121.  16. 206. 266. 328. 214. 288. 200.
 374.   6. 440. 467. 140. 199. 388. 223. 392. 277. 265. 203. 499. 307.
 274. 224. 197. 347. 209. 263. 114. 291. 236. 231. 257. 155. 352. 111.
 187. 275. 306.  88. 229. 219. 102. 477. 212. 278. 360. 178. 184. 296.
 248. 136. 201. 379. 290. 145. 302. 483. 426. 366. 364. 141. 304. 350.
 143. 152. 149. 298. 146. 251. 381. 222. 163. 133. 226. 190. 117. 425.
 215. 284. 252. 164. 237. 459. 311. 168. 227. 273. 239. 271. 496. 156.
 172. 431. 294. 335. 397. 134. 191. 186. 144. 280. 345. 453. 462. 213.
 303. 287. 320. 435. 293. 256. 393. 315. 367. 436. 249. 411. 413. 359.
 313. 429. 438. 305. 372. 211. 228. 204. 416. 430. 421. 461. 417. 262.
 289. 325. 487. 489. 217. 354. 230. 240. 309. 466. 198. 498. 331. 405.
 427. 356. 395. 449. 370. 299. 246. 210. 179. 337. 182. 363. 196. 474.
 448. 245. 270. 375. 464. 269. 486. 220. 386. 403. 232. 297. 268. 475.
 322. 264. 339. 254. 437. 336. 492. 376. 292. 286. 424. 391. 454. 279.
 329. 470. 408. 400. 378. 418. 442. 241. 446. 420. 349. 410. 344. 433.
 342. 346. 334. 389. 312. 441. 463. 259. 443. 402. 409. 343. 383. 495.
 488. 234. 394. 450. 327. 439. 283. 247. 235. 357. 455. 243. 412. 308.
 326. 233. 242. 332. 310. 447. 380. 480. 434. 317. 401. 238. 373. 321.
 469. 324. 451. 407. 368. 353. 444. 415. 472. 377. 419. 396. 351. 460.
 428. 261. 484. 406. 398. 358. 340. 493. 457. 384. 491. 423. 369.  nan
 385. 382. 348. 479. 318. 404. 481. 362. 476. 478. 399. 371. 490. 494.
 471. 452. 390. 465. 355. 387. 482. 458. 473. 485.]

column : TOT_SESS_HR_V, unique count : 12871
['1,890' '1,604' '632' ... '12,665' '12,768' '10,679']

column : DVC_CTG_NM, unique count : 3
['mobile' 'desktop' 'tablet']

column : ZON_NM, unique count : 16
['Daejeon' 'Busan' 'Gyeonggi-do' 'Seoul' 'Gyeongsangbuk-do' 'Jeollabuk-do'
 'Chungcheongbuk-do' 'Gangwon-do' 'Chungcheongnam-do' 'Incheon' 'Daegu'
 'Gwangju' 'Gyeongsangnam-do' 'Jeju-do' 'Jeollanam-do' 'Ulsan']

column : CITY_NM, unique count : 163
['Daejeon' 'Busan' 'Anyang' 'Seoul' 'Gumi-si' 'Buan-gun' 'Cheongju-si'
 'Chuncheon-si' 'Cheonan-si' 'Incheon' 'Daegu' 'Wonju-si' 'Seongnam-si'
 'Goyang-si' 'Gwangmyeong-si' 'Uijeongbu-si' 'Namyangju-si' 'Jeonju-si'
 'Cheorwon-gun' 'Hwaseong-si' 'Gwangju' 'Gimhae-si' 'Tongyeong-si'
 'Seogwipo-si' 'Ansan-si' 'Naju-si' 'Ulsan' 'Anseong' 'Gimcheon-si'
 'Yongin-si' 'Namwon-si' 'Bucheon-si' 'Gunsan-si' 'Yeosu-si' 'Sacheon-si'
 'Osan-si' 'Dangjin-si' 'Gunpo-si' 'Hanam-si' 'Gongju-si' 'Seocheon-gun'
 'Yeongi-gun' 'Siheung-si' 'Paju-si' 'Yangsan-si' 'Gyeongju-si'
 'Goseong-gun' 'Iksan' 'Yeongcheon-si' 'Suncheon-si' 'Pohang-si'
 'Pyeongchang-gun' 'Suwon-si' 'Jincheon-gun' 'Nonsan-si' 'Mokpo-si'
 'Muan-gun' 'Haman-gun' 'Geoje-si' 'Chilgok-gun' 'Hampyeong-gun'
 'Gangneung-si' 'Ulleung-gun' 'Icheon-si' 'Chungju-si' 'Pyeongtaek-si'
 'Taean-gun' 'Gwangju-si' 'Dongducheon-si' 'Gwangyang-si' 'Gimpo-si'
 'Jeongeup-si' 'Hadong-gun' 'Uiwang-si' 'Jeju-si' 'Gyeongsan-si'
 'Yeongju-si' 'Pocheon-si' 'Yangpyeong-gun' 'Donghae-si' 'Gwacheon-si'
 'Uiseong-gun' 'Jinju-si' 'Yecheon-gun' 'Asan-si' 'Hwacheon-gun'
 'Sangju-si' 'Seosan-si' 'Okcheon-gun' 'Gimje-si' 'Cheongwon-gun'
 'Gangjin-gun' 'Eumseong-gun' 'Uljin-gun' 'Guri-si' 'Inje-gun' 'Boeun-gun'
 'Andong' 'Boseong-gun' 'Yeongwol-gun' 'Buyeo-gun' 'Hongseong-gun'
 'Hapcheon-gun' 'Jecheon-si' 'Damyang-gun' 'Goryeong-gun'
 'Changnyeong-gun' 'Yeongyang-gun' 'Yeonggwang-gun' 'Uiryeong-gun'
 'Samcheok-si' 'Namhae-gun' 'Jangheung-gun' 'Yeoncheon-gun' 'Mungyeong-si'
 'Yangju-si' 'Jangseong-gun' 'Gochang-gun' 'Miryang-si' 'Boryeong-si'
 'Yanggu-gun' 'Wando-gun' 'Jeongseon-gun' 'Imsil-gun' 'Danyang-gun'
 'Haenam-gun' 'Geochang-gun' 'Bonghwa-gun' 'Sokcho-si' 'Muju-gun'
 'Yeongam-gun' 'Yeoju-gun' 'Taebaek-si' 'Gokseong-gun' 'Yeongdong-gun'
 'Jeungpyeong-gun' 'Hwasun-gun' 'Sinan-gun' 'Jangsu-gun' 'Hamyang-gun'
 'Hongcheon-gun' 'Yesan-gun' 'Geumsan-gun' 'Wanju-gun' 'Jinan-gun'
 'Gyeryong-si' 'Gapyeong-gun' 'Sunchang-gun' 'Cheongsong-gun'
 'Seongju-gun' 'Goheung-gun' 'Yeongdeok-gun' 'Yangyang-gun'
 'Sancheong-gun' 'Hoengseong-gun' 'Cheongdo-gun' 'Goesan-gun' 'Jindo-gun'
 'Gurye-gun' 'Cheongyang-gun' '(not set)' 'Gunwi-gun' 'Masan']

In [5]:
sess[sess.CLNT_ID==3573758]

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM
2607263,3573758,9206743,6,20180430,26.0,"3,711",desktop,Chungcheongbuk-do,Cheongju-si
2607264,3573758,776159,37,20180917,58.0,"1,801",desktop,Chungcheongbuk-do,Cheongju-si
2712906,3573758,8702345,17,20180508,18.0,373,desktop,Chungcheongbuk-do,Cheongju-si

### 궁금증
- 세션ID의 순서를 알 수 있다면, SESS_SEQ=37일때 1~37까지 나와야하는거 아닌가? 중간에 없는건 뭐지... --> 상품구매한 세션만 기록된 것임(해결)
- 연령대별로 어떤 기기에서 접속했는지 custom과 조인해보면 알 수 있지 않을까?, 지역도 마찬가지!
- SESS_DT를 가지고 구매주기를 계산해볼 수 있지 않을까?
- 위 테이블에서 약 1시간(3,711초)동안 총 26개의 페이지를 보고 구매에 이르렀다는 말인가?